.button-container {
  padding: 0.5em;
  background-color: whitesmoke;
  border-radius: 0.5em;
  display: inline-flex;
  align-items: center;
  gap: 2em;
  box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-container:hover {
  cursor: pointer;
  background-color: lightgray;
  transition-duration: 500ms;
  transform: scale(1.1);
  transition-property: transform, background-color;
}
