.button-container {
  padding: 0.5em;
  background-color: whitesmoke;
  border-radius: 0.5em;
  display: inline-flex;
  align-items: center;
  gap: 2em;
  box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-container:hover {
  cursor: pointer;
  background-color: lightgray;
  transition-duration: 500ms;
}

.button--disabled {
  color: lightgray;
  background-color: white;
  border: solid gray 1px;
}

.button--disabled:hover {
  cursor: default;
  background-color: white;
  transform: none;
}
