<ul class="list-container">
  @if (this.store.areGenresLoading()) {
    <p>Genres are loading</p>
  }
  @if (this.store.genresError()) {
    <p>Error occures? {{ this.store.genresError()?.message }}</p>
  }
  @for (genre of this.genres(); track genre.id) {
    <li>
      <app-card
        [isClickable]="true"
        [isSelected]="selectedGenreId() === genre.id"
        (cardClick)="confirmSelect(genre.id)"
        class="list-container__card"
      >
        <div class="body card__body">
          <img class="body__image" [src]="genre.backgroundImage" alt="Genre image" />
          <p class="body__text">{{ genre.name }}</p>
        </div>
      </app-card>
    </li>
  }
</ul>
