.list-container {
  width: 100%;
}

.list-container__card {
  border-radius: 0 1rem 1rem 0;
}

.card__body {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1em 0 1em 2em;
}

.body__image {
  border-radius: 0.5rem;
  width: 3em;
  height: 3em;
}

.body__text {
  font-size: 1.25em;
  font-weight: 400;
}
