.dialog-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 1em;
  background-color: whitesmoke;
  padding: 2em;
}
