<h2 class="game-title">Games</h2>
@if (store.areGamesLoading()) {
  <p>Games are loading...</p>
}
@if (store.gamesError()) {
  <p class="error-text">Error occures: {{ this.store.gamesError()?.message }}</p>
}

@if (store.arePlatformsLoading()) {
  <p>Platforms are loading...</p>
}
@if (store.platformsError()) {
  <p class="error-text">Error ocures: {{ this.store.platformsError()?.message }}</p>
}

<!-- Filters -->
<div class="filter-container">
  <app-multiselect-box
    name="Platforms"
    [items]="store.platforms()!"
    (onSelectionChange)="changeSelectedPlatforms($event)"
  />
  <app-button (click)="filterGames()">Filter</app-button>
</div>

<div class="game-container">
  @for (game of store.games(); track game.id) {
    <app-card class="game-card" [isClickable]="true">
      <div class="header">
        <img [src]="game.backgroundImage" alt="Game image" class="header__image" />
      </div>
      <div class="body card__body">
        <span class="body__text">
          {{ game.name }}
        </span>
      </div>
      <div class="footer card__footer">
        <app-rating-stars [rating]="game.rating" [appTooltip]="game.rating.toString()" />
        <div class="footer__platform-container">
          @for (pair of normalizePlatformIcons(game.platforms) | keyvalue; track pair.key) {
            <ng-icon [appTooltip]="pair.key" size="20" [name]="pair.value"></ng-icon>
          }
        </div>
      </div>
    </app-card>
  }
</div>

<div appInfiniteScrolling (scrollToEnd)="store.loadMore()"></div>

@if (store.areGamesLoading()) {
  <p style="padding-bottom: 2em">Games are loading...</p>
}
