@if (this.store.areGamesLoading()) {
  <p>Games are loading...</p>
}
@if (this.store.gamesError()) {
  <p class="text-red-500">Error occures: {{ this.store.gamesError()?.message }}</p>
}
@for (game of this.store.games(); track game.id) {
  <app-card class="bg-gray-200" [isClickable]="true" [hasHeader]="true" [hasFooter]="true">
    <div class="header">
      <img [src]="game.backgroundImage" alt="Game image" class="w-full h-48 object-cover" />
    </div>
    <div class="body my-8 mx-4 flex items-baseline justify-between gap-4">
      <span class="text-xl font-bold">
        {{ game.name }}
      </span>
      <app-rating-stars [rating]="game.rating" />
    </div>
    <div class="footer w- p-4 flex items-center justify-end gap-1 mt-auto">
      @for (icon of normalizePlatformIcons(game.platforms); track $index) {
        <ng-icon size="20" [name]="icon"></ng-icon>
      }
    </div>
  </app-card>
}
