.game-title {
  display: block;
  margin: 1em 0;
  font-weight: 700;
  font-size: 3em;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 0 2em 2em 0;
}

.error-text {
  color: red;
}

.game-card {
  background-color: whitesmoke;
  box-shadow: 6px -6px 5px rgba(0, 0, 0, 0.1);
}

.header__image {
  width: 100%;
  height: 12em;
}

.card__body {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1em;
  margin: 0.5em 2em;
}

.body__text {
  width: 100%;
  font-weight: 700;
  font-size: 1.5em;
  align-self: center;
  text-align: center;
}

.card__footer {
  width: 100%;
  display: flex;
  gap: 0.25em;
  justify-content: space-between;
  padding: 1em;
  margin-top: auto;
}

.footer__platform-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}
