@if (this.store.areGamesLoading()) {
  <p>Games are loading...</p>
}
@if (this.store.gamesError()) {
  <p class="text-red-500">Error occures: {{ this.store.gamesError()?.message }}</p>
}
@for (game of this.store.games(); track game.id) {
  <app-card class="bg-gray-200" [isClickable]="true" [hasHeader]="true">
    <div class="header">
      <img [src]="game.backgroundImage" alt="Game image" class="w-full h-48 object-cover" />
    </div>
    <div class="body my-8 mx-4 flex items-baseline justify-between gap-4">
      <span class="text-xl font-bold">
        {{ game.name }}
      </span>
      <p>{{ game.rating }}</p>
    </div>
  </app-card>
}
